@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200;300&family=Quicksand:wght@300;400&family=Raleway:wght@200;300&family=Wix+Madefor+Display:wght@400;500&display=swap");
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
